# Project exclude paths
/java-ee-lesson-one/target/
*/target/
/Java-Spring.iml/
/*.idea/
/out/
.gitignore
.gitignore
.idea
java-spring-boot-lesson-four/.mvn/

/java-spring-mvc-lesson-three/target/
/java-spring-boot-lesson-four/.mvn/
